# Game Postgres
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_db_name

# Auth Postgres
AUTH_POSTGRES_USER=your_auth_user
AUTH_POSTGRES_PASSWORD=your_auth_password
AUTH_POSTGRES_DB=auth_db

# Secrets
TRUSTED_SERVICE_0_SECRET=secret_0
TRUSTED_SERVICE_1_SECRET=secret_1

# Kafka
KAFKA_GROUP_ID=user-created-events
KAFKA_TRUSTED_PACKAGES=ru.tiayeah.core

# Mail
SPRING_MAIL_USERNAME=your_email@gmail.com
SPRING_MAIL_PASSWORD=your_app_password